.header {
  background-color: $bg-color;
  padding: 1.33rem 0 0.89rem;
  position: sticky;
  top: 0;
  z-index: $z-index-sticky;
  box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.12);

  &__container {
    @include flex-between;
    max-width: 1192px; // 1192px
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px
  }

  /* TOP SECTION */
  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    // height: 2.8125rem;
    justify-content: space-between;
  }

  &__top-left {
    max-width: 1001px; // 992px
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* SEARCH WRAPPER */
  &__search-wrapper {
    max-width: 660px;
    width: 100%;
    display: flex;
    align-items: center;

    background: #fff;
    border-radius: 0.375rem;
    border: 0.0625rem solid #3f7fe0;
    margin: 0px 54px;

    height: 42px;
    overflow: hidden;
  }

  /* LOCATION */
  &__location-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: #11438f;
    font-size: 0.875rem;
    font-weight: 500;

    padding: 0.59375rem 0.75rem;
    background: #fff;

    border-right: 0.0625rem solid #80aff5;
    max-width: 7.5rem;
    width: 100%;
  }

  &__location-dot {
    border-radius: 50%;
    display: flex;
    align-items: center;

    svg {
      vertical-align: middle;
      cursor: pointer;
    }
  }

  &__location-input-wrapper {
    width: 100%;
    display: flex;
    position: relative;
  }

  &__location-input {
    width: 100%;
    border: none;
    background: transparent;
    padding: 0;
     font-size: 0.75rem;
     font-weight: 400;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $text-color;
      font-size: 0.75rem;
    }
  }

  /* MAIN SEARCH */
  &__main-search-wrapper {
    display: flex;
    align-items: center;
    max-width: 471px; // 300px
    width: 100%;

    background: #fff;
    border-left: 0.0625rem solid #80aff5;
  }

  &__main-search-input {
    width: 100%;
    padding: 0.5rem;
    border: none;
     font-size: 0.75rem;
     font-weight: 400s;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $text-color;
      font-size: 0.75rem;
    }
  }

  &__top-right {
    display: flex;
    align-items: center;
    max-width: 188px;
    width: 100%;
  }
  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 188px;
    width: 100%;
  }
  &__signup_wrapper {
    max-width: 139px;
    width: 100%;
    display: flex;
    flex-direction: row;
            border-radius: 6px;
        border: 1px solid #1e4275;
        padding: 6px 12px 6px 12px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
font-size: 14px;
color: #1e4275;
height: 36px;
  }
  &__cart_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      color: #1e4275;
    }
  }

  /* BUTTON */
  &__search-button {
    max-width: 52px; // 188px
    width: 100%;
    padding: 2px;

    background-color: $primary-color;
    color: #fff;

    border: none;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    cursor: pointer;
  }

  /* LOGO */
  &__figure {
    width: 9.375rem;
  }

  &__img {
    width: 10.375rem;
    height: auto;
  }

  /* NAV */
  &__nav {
    @include flex-start;
    gap: $spacing-lg;
    

    a,
    button {
      @include transition;
    font-weight: 400;
    color: #1e4275;
    font-size: 14px;

      &:hover {
        color: $primary-color;
      }
    }

    button {
      @include button-reset;
      cursor: pointer;
    }
  }
}