.doctors-listing-header{
  max-width: 1192px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 40px;
  margin-bottom: 72px;
  figure{
    img{
      border-radius: 16px;
    }
  }

}
